.initial-card {
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  padding: 20px;
}

.story-card {
  background: #B9D6F2;
  border-radius: 5px;
  font-family: 'Helvetica', sans-serif;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
}

.card-header {
  display: inline-block;
  font-size: 1.6rem;
  max-width: 60%;
  @media(max-width:900px) {
    width: 100%;
  }
}

.card-gif {
  display: inline-block;
  float: left;
  width: 30%;
  @media handheld, screen and (max-width: 900px) {
    float: none;
    margin: 5px auto;
    width: 100%;
  }
}
