.story-card {
  background: #B9D6F2;
  border-radius: 5px;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
}

.card-header {
  display: inline-block;
  max-width: 60%;
  // left: 300px;
  // width: 70%;
  @media(max-width:900px) {
    width: 100%;
  }
}

.gif-container {
  // width: 30%;
  // @media(max-width: 900px) {
  //   width: 100%;
  // }
}

.card-gif {
  display: inline-block;
  float: left;
  max-width: 250px;
  @media(max-width: 900px) {
    float: none;
    margin: 5px auto;
    width: 100%;
  }
}
