* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background: #ECFFF3;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.clearfix {
  clear: both;
}

.main {
  height: 100%;
  position: absolute;
  width: 100%;
}

.header {
  background: rgba(253,253,253,0.2);
  height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.content {
  clear: both;
}

.search-input {
  left: 10%;
  position: fixed;
  top: 100px;
  // transform: translateX(-50%);
  width: 80%;
  z-index: 2;
}

.story-container {
  background: #061A40;
  border-radius: 5px;
  height: 60vh;
  margin: 0 auto;
  margin-top: 150px;
  overflow: scroll;
  width: 80%;
}
